.video {
    display: block;
    margin: auto;
    width: 40%;
}

.center {
    align-content: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.btncenter {
    align-content: center;
    margin: auto;
    width: 25%;
    padding: 10px;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
}

p {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 2px;
    text-emphasis-position: inherit;
    font-size: 20px;
    color: #EEEEEE;
}

.btnstyle {
    background-color: #009090; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btnstyle:hover {
    box-shadow: 0 12px 32px 0 rgba(255,255,255,255.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
